body {
    font-size: x-large;
    font-family: "sans-serif";
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.estructura {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 5px;
    gap: 5px;
}



.caja {
    background-color: rgb(204, 204, 243);
    border: 1px solid rgb(63, 63, 175);
    text-align: center;
    width: 100%;
}

#titulo {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 10px;
}

.titulo-texto {
    text-align: center;
    grid-column: 2;
}

#logo {
    width: auto;
    padding: 5px 15px;
}

#barra-nav p {
    text-align: left;
    margin-left: 2%;
}

.contenido-centro {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    flex: 1;
}

#opciones {
    width: 20%;
}

#contenido {
    width: 60%;
    flex: 1;
}


.contenedor-articulos {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#articulo {
    flex: 1;
    min-height: 0;
}

#pie-pag {
    width: 100;
}