body {
    font-size: x-large;
    font-family: "sans-serif";
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.estructura {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 5px;
    gap: 5px;
}



.caja {
    background-color: rgb(204, 204, 243);
    border: 1px solid rgb(63, 63, 175);
    text-align: center;
    width: 100%;
}


#barra-nav p {
    text-align: left;
    margin-left: 2%;
}

.contenido-centro {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    flex: 1;
}

#opciones {
    width: 25%;
}

#contenido {
    width: 75%;
    flex: 1;
}


#articulo,
#logo {
    display: none;
}